<h1>SFU Maps</h1>

<br>
<br>

<%= link_to "Burnaby", 'maps/burnaby' %> <%= "|" %>
<%= link_to "Surrey", 'maps/surrey' %> <%= "|" %>
<%= link_to "Vancouver", 'maps/vancouver' %>

<br>
<br>
<%= link_to "Home", root_path%>
