<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
	<%= stylesheet_link_tag'home', :media=>'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'home', 'data-turbolinks-track' => true %>
</head>

<body>
	<header class="navbar navbar-fixed-top navbar-inverse">
		<div class="container">
			<p>Hello, <%= current_user.first_name%></p>
			<!-- <h2 id="user"></h2> -->
			<nav>
				<ul class="nav navbar-nav navbar-right">
					<% if current_user %>
						<% if current_user.email == "admin@email.com" %>	
							<%= link_to "Settings", 'admin' ,class: "button" %>
						<% end %>	
	    				<%= link_to "Logout", logout_path, class: "button", method: "delete" %>
	    			<% end %>
	    		</ul>
	    	</nav>
	    </div>
	</header>

	<div class="center jumbotron">
		<h1>Welcome</h1>
		<hr id="gradient">
		<a href='/messages'>
			<img src="/assets/shoutouts.png" class = "fade">
		</a>
			<img src="/assets/courses.png" class = "fade">
			<img src="/assets/library.png" class = "fade">
			<img src="/assets/maps.png" class = "fade">
			<img src="/assets/social.png" class = "fade">
			<img src="/assets/calendar.png" class = "fade">
			<img src="/assets/transit.png" class = "fade">
	</div>

	<div class="container">
      <%= yield %>
    </div>
	<div id="footer">
	Logged in as <%= current_user.email %>
	</div>
</body>

</html>
