<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
	<%= stylesheet_link_tag'home', :media=>'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'home', 'data-turbolinks-track' => true %>
</head>

<body>


		<div class="Welcomebox animated fadeIn">
		<img src="/assets/user.png" class ="user_welcome">
		<h1 id="Welcome">Welcome, <%= current_user.first_name%></h1>
		<div class="btn-group">
 			 <button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
 			   Account <span class="caret"></span>
 			 </button>
 			 <ul class="dropdown-menu">
 			   <li><a href="#">Profile</a></li>
 			   		<% if current_user %>
						<% if current_user.email == "admin@email.com" %>
 			  				 <li><%= link_to "Admin Panel",'admin'%></li>
 			  				 <% end %>
					<% end %>
 			   <li role="separator" class="divider"></li>
 			   <li><%= link_to "Logout", logout_path, method: "delete" %></li>
			  </ul>
			</div>
		</div>

		


<br>

		<div id="Modules" >
		<a href='/messages'>
			<img src="/assets/shoutouts.png" class = "fade animated bounceIn">
		</a>
			<img src="/assets/courses.png" class = "animated bounceIn fade">
		<a href='/library'>
			<img src="/assets/library.png" class = "animated bounceIn fade">
		</a>
		<a href='/maps'>
			<img src="/assets/maps.png" class = "animated bounceIn fade">
		</a>
			<img src="/assets/social.png" class = "animated bounceIn fade">
			<img src="/assets/calendar.png" class = "animated bounceIn fade">
		<a href='/transit'>
			<img src="/assets/transit.png" class = "animated bounceIn fade">
		</a>
	</div>


	<div id="footer" class="animated fadeInUp">
	<div class="alert alert-info" role="alert">Logged in as <%= current_user.email %></div>
	</div>
</body>

</html>
