<h2>Course Search Results - course_search.html.erb file - more to be added!</h2>
<% results = getCourseSearchResult %>

<% #display course title and section %>
<% results.each do |result| %>
    <%= result['Title'] %>
    <%= result['Section'] %>
    <br>
    
    <% details = getCourseDetails(result['Section']) %>
    <%= details['Delivery Method'] %>  
    <br>
    <%= details['Desciption'] %>  
    <br>
    <%= details['Prerequisites'] %>  
    <br>
    <%= details['Note'] %> 
    <br>
     <%= details['Instructor'] %>  
    <br>
    <%= details['Email'] %>  
    <br>
    <%= details['Start time'] %>  
    <br>
    <%= details['Room'] %>  
     <br>
     <%= details['Days'] %>  
    <br>
    <%= details['End time'] %>  
    <br>
    <%= details['Building'] %>  
    <br>
    <%= details['Campus'] %>
    <br>
     <%= details['Exam Start'] %>  
    <br>
    <%= details['Exam Date'] %>  
    <br>
    <%= details['Exam room'] %>  
    <br>
    <%= details['Exam End'] %> 
    <br>
    <%= details['ExamBuilding'] %> 
    <br>
    <%= details['ExamCampus'] %>
    
     <br>
     <br>
<% end %>