<!DOCTYPE html>
<html>
<head>
  <title>Shoutouts</title>
  <%= stylesheet_link_tag    'custom', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


				<div class="shoutout_header">
				<%= link_to "Shoutouts", '/messages', class: "shoutouts" %>
				<%= link_to "Create", new_message_path, class: "create", id: "btn" %>
				<%= link_to "Home", root_path, class: "home" %>

				</div>
		
	
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>

	
<%= yield %>



</body>
</html>
