<!DOCTYPE html>
<html>
<head>
  <title>Shoutouts</title>
  <%= stylesheet_link_tag    'custom', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


				<div class="shoutout_header">
				<%= link_to "Shoutouts", '/messages', class: "shoutouts" %>
				<div class="create_message">
				<%= link_to "+", new_message_path %>
			</div>
				</div>
		
	
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>

	
<%= yield %>

</body>
</html>
